.basic-container {
  box-shadow: 0 4px 6px #00000080;
  background-color: rgba(227, 243, 255, 0.925);
  border-radius: 6px;
    overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.camp-bg {
  background-image: url("../assets/campingBG.jpg");
  background-size: 100% 100%;
  height: calc(100vh);
}

.inner-container {
  background-color: #f0f7fdf1;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sub-container {
  box-shadow: 0 2px 3px #00000080;
  background-color: rgba(204, 231, 255, 0.616);
  border-radius: 6px;
}

.header-container{
  background-color: #aed8fdf1;
  border-radius: 6px;
  padding: 10px;
}

.custom-btn {
  background-color: #ffffff; 
  border: 1px solid #d2dae9; 
  border-radius: 0.5rem; 
  font-weight: 500; 
  font-size: 0.875rem; 
  padding: 0.625rem 1.25rem; 
  text-align: center;
  margin-right: 0.5rem; 
  margin-bottom: 0.5rem; 
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-btn:hover {
  background-color: #f3f4f6; 
}

.custom-btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #d4f3ff; 
}

